.left-switch {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 18px;
    padding: 0 4.6vw;
    overflow: hidden;
}

.switch-lett-item-title {
    height: 95px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 6%;
    color: #333333;
    flex-shrink: 1;
}

.switch-lett-item-title > span {
    font-family: PingFang SC;
}

.commodity_box {
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
    height: 420px;
    overflow: hidden;
}

.commodity_list {
    position: relative;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.commodity_list_item {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #FAF9FA;
    border-radius: 15px;
    overflow: hidden;
    flex-shrink: 0;
}

.commodity_list_img {
    width: 100%;
    height: 320px;
    overflow: hidden;
    flex-shrink: 0;
}

.commodity_list_img > img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 326px;
}

.commodity_list_text {
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 0 17px;
    height: 100%;
}

.commodity_list_text_title {
    flex-grow: 3;
    margin-top: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    color: #000;
    font-weight: 500;
}

.commodity_list_text_title > p:first-child {
    font-weight: 500;
    color: #ffffff;
    line-height: 14px;
    background-color: #333333;
    padding: 0 5px;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 12px;
}

.commodity_list_text_title > p:last-child {
   font-size: 13px;
}

.commodity_list_text_comment {
    flex-grow: 3;
    display: flex;
    width: 80%;
    align-items: center;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: #818181;
}

.commodity_list_text_comment > p:first-child {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.commodity_list_text_comment > p > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.commodity_list_text_comment > p:last-child {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.commodity_list_text_pay {
    flex-grow: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.commodity_list_text_pay_button {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    background-color: #DF3030;
    border-radius: 5px;
    color: #ffffff;
}  

.commodity_list_abbreviation {
    display: flex;
    flex-shrink: 1;
    height: 92px;
    align-items: center;
}

.commodity_list_abbreviation_count {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 25px;
    height: 59px;
    border-radius: 7px;
    border: 1px solid #EFEFEF;
    text-align: center;
    font-size: 13px;
    color: #7C7C7C;
    padding: 0 5px;
    word-wrap: break-word;
}

.commodity_list_abbreviation_count > p {
    line-height: 15px;
    transform: scale(0.8, 0.8);
}

.commodity_list_abbreviation_list {
    position: relative;
    width: 305px;
    height: 71px;
    padding-top: 12px;
    margin-top: -12px;
    flex-shrink: 0;
}

.commodity_list_abbreviation_list_item {
    width: 59px;
    height: 59px;
    margin-right: 9px;
    border: 1px solid #EFEFEF;
    flex-shrink: 0;
    border-radius: 7px;
}

.commodity_list_abbreviation_list_item > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.current_commodity {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 12px;
    left: 0;
    width: 59px;
    height: 59px;
    border: 1px solid #FC626D;
    border-radius: 7px;
    transition: 0.3s;
    pointer-events: none;
}

.current_commodity > i {
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 4px solid #FC626D;
    margin-top: -9px;
}

.active_title {
    color: #FC626D;
}