body, html, #root {
    width: 100%;
    overflow: hidden;
    background-color: #CD1818;
    height: 100%;
}

body,div,span,ul,li,img,p {
    font-family: PingFang SC;;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}